<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
</head>
<body class="container-sm">
<div class="row center">
    <div class="col-6 offset-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <form th:action="@{/auth/process_reg}" th:method="post" th:object="${user}">
                    <h5 class="card-title">Registration</h5>
                    <div class="form-group">
                        <label for="exampleInputEmail">Username</label>
                        <input th:field="*{username}" type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                               placeholder="Enter email">
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group admin-key-input">
                        <label for="exampleInputAdminKey">Admin key</label>
                        <input th:field="*{key}" type="password" class="form-control" id="exampleInputAdminKey" placeholder="Admin Key">
                    </div>
                    <span th:if="${#fields.hasErrors('key')}" th:errors="*{key}"
                          class="text-danger"></span>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input checkbox" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Admin</label>
                    </div>
                    <a href="/auth/login" class="btn btn-warning d-block mt-2">Authorization</a>
                    <button type="submit" class="btn btn-primary mt-2 w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
