<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/furniture}">Furniture</a>
            <div class="navbar-text" id="navbarSupportedContent">
                <form class="d-flex" th:action="@{/furniture}" th:method="get">
                    <input id="price" name="price"
                           class="form-control me-2" type="search" placeholder="Minimum price" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Filter</button>
                </form>
            </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <span th:text="${'Username: ' + #authentication.principal.username}"></span><br>
                    <span th:with="firstRole=${#authentication.authorities[0].authority.substring(5)}" th:text="${'Role: ' + firstRole}" style="margin-right: 10px;"></span>
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post" id="logoutForm">
                        <input type="submit" value="Logout" class="btn btn-danger" style="margin: 10px;">
                    </form>
                </div>

        </div>
    </nav>
</header>
</body>
</html>